Source: vasttrafik-cli
Section: utils
Priority: optional
Maintainer: Salvo 'LtWorf' Tomaselli <tiposchi@tiscali.it>
Build-Depends:
    debhelper (>= 12),
    debhelper-compat (= 13),
    python3:any,
    dh-python,
    python3-distutils,
    python3-typedload
Standards-Version: 4.6.0
Vcs-Browser: https://github.com/ltworf/vasttrafik-cli
Homepage: https://github.com/ltworf/vasttrafik-cli
Rules-Requires-Root: no

Package: vasttrafik-cli
Architecture: all
Depends:
    ${misc:Depends},
    ${python3:Depends},
    python3-typedload,
    python3-xtermcolor,
    python3-configobj
Description: Public transport client, for Göteborg and the Västra Götaland county
 Västtrafik is the agency for public transport in Västra Götaland (Sweden).
 .
 This package provies a CLI to access their API and plan trips or see the
 incoming vehicles at a given stop.
