Source: pysttrafik
Section: office
Priority: optional
Maintainer: Salvo 'LtWorf' Tomaselli <tiposchi@tiscali.it>
Build-Depends: debhelper (>= 11), python3, dh-python, python3-distutils,
 python3-typedload
Standards-Version: 4.1.4
X-Python3-Version: >= 3.6
Homepage: https://github.com/ltworf/pysttrafik

Package: pysttrafik
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python3:Depends}, python3-typedload,
 python3-xtermcolor
Description: Public transport client, for the Västra Götaland county
 Västtrafik is the agency for public transport in Västra Götaland (Sweden).
 .
 This package provies a CLI to access their API and plan trips or see the
 incoming vehicles at a given stop.
